services:
  php-apache:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80" # Laravel
      - "5173:5173" # Vite
    volumes:
      - ./src:/var/www/html # Comparte la carpeta src con el contenedor
    container_name: webBlog-app

  mysql:
    image: mysql:8.0
    container_name: webBlog-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: blog
      MYSQL_USER: carlos
      MYSQL_PASSWORD: admin1
    volumes:
      - mysql-data:/var/lib/mysql

  # node:
  #   image: node:18
  #   working_dir: /var/www/html
  #   volumes:
  #     - ./src:/var/www/html
  #   command: ["npm", "install"]

  # node-watch:
  #   image: node:18
  #   working_dir: /var/www/html
  #   volumes:
  #     - ./src:/var/www/html
  #   command: ["npm", "run", "dev"]

volumes:
  mysql-data:
